body {
  background: 071013;
}

img {
width: 400px;
border-style: solid;
border-color: c5e99b;
border-margin: 15px;
}

.firstp {
background: ffeeeb;
border-style: solid;
border-color: fbb7c0;
border-radius: 15px;
padding: 10px;
}

.secondp {
background: c5e99b;
border-style: solid;
border-color: 7d7461;
border-radius: 15px;
padding: 10px;
}


